<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/appicon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Whiskey2"
        tools:targetApi="31">
        <activity
            android:name=".SingleMaltDetail"
            android:label="Detail Page"
            android:parentActivityName=".SingleMaltList"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".BlendedDetail"
            android:label="Detail Page"
            android:parentActivityName=".SingleMaltList"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".BourbonDetail"
            android:label="Detail Page"
            android:parentActivityName=".SingleMaltList"
            android:windowSoftInputMode="adjustResize"/>
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".SingleMaltList" />

        <activity
            android:name=".Addwhiskey"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".BourbonList"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".BlendedList"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SingleMaltList"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Homescreen"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Whiskey2"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>